html {
    background-color: #ffc600;
    box-sizing: border-box;
    font-family: Helvetica Neue;
    font-size: 20px;
    font-weight: 200;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

input {
    padding: 20px;
    width: 100%;
}

a {
    color: #000;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.search-form {
    max-width: 400px;
    margin: 50px auto;
}

.search {
    border: 10px solid #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
    font-size: 40px;
    left: -10%;
    margin: 0;
    outline: 0;
    position: relative;
    text-align: center;
    top: 10px;
    width: 120%;
    z-index: 2;
}

.suggestions {
    margin: 0;
    padding: 0;
    position: relative;
}

.suggestions__item {
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 20px;
    text-transform: capitalize;
    transition: background 0.2s;
}

.suggestions__item:nth-child(even) {
    background: linear-gradient(to bottom, #fff 0%, #efefef 100%);
    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
}

.suggestions__item:nth-child(odd) {
    background: linear-gradient(to top, #fff 0%, #efefef 100%);
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
}

.population {
    font-size: 15px;
}

.hl {
    background-color: #ffc600;
}
